aiofiles==24.1.0
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.13.0
audioop-lts==0.2.2
beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorlog==6.10.1
contourpy==1.3.3
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
cycler==0.12.1
cython==3.2.9
easyocr==1.7.2
faker==40.35.0
fastapi==0.135.2
ffmpy==1.0.0
filelock==3.25.2
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.3.0
gradio==6.10.0
gradio-client==2.4.0
groovy==0.1.2
h11==0.16.0
hf-gradio==0.3.0
hf-xet==1.4.2
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==1.8.0
idna==3.11
imageio==2.37.3
jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
lmdb==2.3.0
lxml==6.1.1
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
ninja==1.13.0
numpy==2.4.4
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
omegaconf==2.3.0
onnxruntime==1.26.0
opencc==1.3.1
opencv-contrib-python==5.0.0.93
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opt-einsum==3.3.0
orjson==3.11.7
packaging==26.0
paddleocr==2.10.0
paddlepaddle==3.3.1
pandas==3.0.1
pillow==12.1.1
polars==1.39.3
polars-runtime-32==1.39.3
protobuf==7.34.1
psutil==7.2.2
pyclipper==1.4.0
pydantic==2.12.5
pydantic-core==2.41.5
pydub==0.25.1
pygments==2.20.0
pyparsing==3.3.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-multipart==0.0.22
pytz==2026.1.post1
pyyaml==6.0.3
rapidfuzz==3.14.5
rapidocr==3.8.1
requests==2.33.0
rich==14.3.3
safehttpx==0.1.7
safetensors==0.8.0
scikit-image==0.26.0
scipy==1.17.1
semantic-version==2.10.0
setuptools==81.0.0
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.16
six==1.17.0
soupsieve==2.9.1
starlette==0.52.1
stringzilla==5.0.3
sympy==1.14.0
termcolor==3.3.0
tifffile==2026.4.11
tomlkit==0.13.3
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
triton==3.6.0
typer==0.24.1
typing-extensions==4.15.0
typing-inspection==0.4.2
ultralytics==8.4.31
ultralytics-thop==2.0.18
urllib3==2.6.3
uvicorn==0.42.0
